.ImgDiv {
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.carouselInicioImg{
    height: 300px;
}

.TreineConosco {
    background-color: #00000000;
    border: 0px solid #00000000; 
}

.carousel-control-next-icon{
    background-image: url(../../../assets/fi-sr-angle-right.png); 
}
.carousel-control-prev-icon{
    background-image: url(../../../assets/fi-sr-angle-left.png); 
}

.carousel-indicators [data-bs-target]{
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 20px;
    background-color: #00000000;
}

.carousel-indicators .active{
    border: 0px solid #E9C01A;
    background-color: #E9C01A;
    padding: 3px;
}

.cardContainer{
    width: 70%;
    margin: auto;
}

.cardInicio {
    background-color: #414141;
    border: 0px solid #414141;
    border-radius: 20px;
    margin: 1rem;
    display: flex;
    align-items: stretch; /* garante que os filhos tenham a mesma altura */
    overflow: hidden;
}

.cardImg {
    aspect-ratio: 1 / 1; /* mantém a imagem quadrada */
    border: 0px solid #414141;
    border-radius: 20px;
    height: auto;
    width: auto;
    flex: 0 0 auto;
    min-width: 40%;  /* valor base para largura mínima */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cardText {
    flex-grow: 1;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    color: #fff;
}

.cardText > h2 {
    font-family: 'EnchantedLand', sans-serif;
    font-size: 3rem;
    color: #E9C01A;
}