<div id="carouselInicio" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div style="background-image: url(../../../assets/img01.png);" class="ImgDiv carouselInicioImg bd-placeholder-img bd-placeholder-img-lg d-block w-100" ></div>
      <div class="carousel-caption d-none d-md-block">
        <button class="TreineConosco" type="button" routerLink="/QuemSomos">
          <img src="assets/treineConosco.png" alt="">
        </button>
      </div>
    </div>

    <div class="carousel-item">
      <div style="background-image: url(../../../assets/img02.png);" class="ImgDiv carouselInicioImg bd-placeholder-img bd-placeholder-img-lg d-block w-100" ></div>
      <div class="carousel-caption d-none d-md-block">
        <button class="TreineConosco" type="button" routerLink="/QuemSomos">
          <img src="assets/treineConosco.png" alt="">
        </button>
      </div>
    </div>
    <div class="carousel-item">
      <div style="background-image: url(../../../assets/img03.png);" class="ImgDiv carouselInicioImg bd-placeholder-img bd-placeholder-img-lg d-block w-100" ></div>
      <div class="carousel-caption d-none d-md-block">
        <button class="TreineConosco" type="button" routerLink="/QuemSomos">
          <img src="assets/treineConosco.png" alt="">
        </button>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselInicio" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselInicio" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="cardContainer container">

  <div class="cardInicio">
      <div style="background-image: url(../../../assets/cardImg01.png);" class="cardImg ImgDiv"></div>

    <div class="cardText">
      <h2 class="EnchantedTitle">Tudo começou assim...</h2>
      <p>O grupo Protetores da Cachoeira do Makka-Kuh foi organizado em 2016, por um grupo de jovens que buscavam uma alternativa divertida e saudável de esporte em Palmas - TO, através do swordplay boffering.</p>
      <p>Com o tempo, nos tornamos uma pequena comunidade, acolhendo qualquer pessoa que compartilhe da vontade de aprender, o desejo de ajudar e dar boas risadas no dia-a-dia. Nossa família passou por muitas mudanças, aprendemos muito e vamos estar sempre aqui para acolher uns aos outros, principalmente os desajustados da sociedade, no nosso esporte. Também passamos a fazer jogos de LARP e algumas ações sociais, que complementam nosso grupo.</p>
    </div>

  </div>

  <div class="cardInicio">
    <div class="cardText">
      <h2 class="EnchantedTitle">faça parte do clã!</h2>
      <p>Se você tem 12 anos ou mais, faça-nos uma visita e um treino de experiência no Espaço Cultural de Palmas, aos sábados, às 16h, ou na UFT - Campus Palmas, às 19h, às quartas-feiras.</p>
      <p>Nosso grupo pratica um esporte chamado swordplay boffering, que uma versão segura, lúdica, divertida e saudável dos combates medievais.</p>
      <p>Estamos sempre de braços abertos para receber novos membros em nossa família. Convidamos você a explorar nosso clã através do nosso site ou das nossas redes sociais, e ficar à vontade para nos visitar e participar dos nossos treinos. Esperamos ansiosamente por sua presença!</p>
    </div>

    <div style="background-image: url(../../../assets/cardImg02.png);" class="cardImg ImgDiv"></div>
  </div>

</div>

<div class="EventsContainer container">
  <h2 class="EnchantedTitle">Eventos da semana</h2>
  <div class="EventScroll">

    <ng-container *ngFor="let Event of eventsDeMentira; let i = index">

      <a href="" routerLink="/Dashboard" class="EventField EventFieldFirst"  [style.grid-column]="(i + 1)" [style.grid-row]="1">
        <h4 style="color: #E9C01A;">{{Event.title}}</h4>
      </a>

      <a href="" routerLink="/Dashboard" class="EventField"  [style.grid-column]="(i + 1)" [style.grid-row]="2">
        <p>{{Event.description}}</p>
      </a>

      <a href="" routerLink="/Dashboard" class="EventField ellipsis"  [style.grid-column]="(i + 1)" [style.grid-row]="3">
        <span><b style="color: #E9C01A;">Data: </b>{{Event.date}}</span>
      </a>

      <a href="" routerLink="/Dashboard" class="EventField ellipsis" [style.grid-column]="(i + 1)" [style.grid-row]="4">
        <span><b style="color: #E9C01A;">Local: </b>{{Event.place}}</span>
      </a>

      <a href="" routerLink="/Dashboard" class="EventField ellipsis EventFieldLast"  [style.grid-column]="(i + 1)" [style.grid-row]="5">
        <span><b style="color: #E9C01A;">Inscritos: </b>
          {{
            Event.maxParticipants == null 
            ? Event.subscriptions.length
            : Event.subscriptions.length + ' de ' + Event.maxParticipants 
          }}
        </span>
      </a>

    </ng-container>

  </div>
</div>

<div class="agendaCompleta">
<a href="" routerLink="/Dashboard">
  veja a agenda completa de eventos
  <img src="assets/dashboard_icon_color.png" alt="">
</a>
</div>