.event-list {
  flex: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event-card {
  background-color: #ecebeb;
  color: #000000;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.event-card:hover {
  transform: translateY(-3px);
}

.event-title {
    color: #E9C01A;
  margin-bottom: 10px;
}
.EnchantedTitle {
  color: #E9C01A;
  margin-bottom: 7px;
  font-size: 4rem;
  font-family: 'EnchantedLand', sans-serif;
   text-align: center;
}

.event-description {
  margin-bottom: 10px;
}