<div class="account-container">
    <h2>Minha Conta</h2>

    <div *ngIf="user">
        <div>
            <h3>Informações do Perfil</h3>
            <p><strong>Nome:</strong> {{ user?.name }}</p>
            <p><strong>Usuário:</strong> {{ user?.username }}</p>
            <p><strong>Email:</strong> {{ user?.email }}</p>
        </div>

        <div>
            <button (click)="logout()">Sair</button>
        </div>
    </div>

    <div *ngIf="!user">
        <p>Carregando informações da conta...</p>
    </div>
</div>