@import '../styles.scss';

.container-fluid {
    width: 100%;
    height: 100%;
}

.header {
    background-color: $Sections-color;
    color: $Text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .header a{
        color: $Text-color;
        font-size: 16px;
        text-decoration: none;
    }

.pages, .buttons{
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    align-items: center;
}
.buttons {
    margin-right: 2.5rem;
}
.buttons > .FacaParte {
    font-size: 16px;
    font-weight: bold;
    background-color: $Text-color;
    color: $Sections-color;
    padding: 0.5rem 2.5rem;
    border: 1px solid $Text-color;
    border-radius: 2rem;
}
.InicioImg > img {
    height: 4.25rem;
    margin: 0.5rem 1rem;
}

.content {
    min-height: 100%;
    background-color: #2B2D31;
}

.footer {
    background-color: $Sections-color;
    color: $Text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.media {
    background-color: $Sections-color;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5rem
}

.media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.media-accounts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.media-accounts > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}