<div class="container-fluid">

    <div class="header">
        <a class="InicioImg" routerLink="/">
            <img src="assets/makkakuh_logo_large.png" alt="makkakuh_logo_large">
        </a>

        <nav class="pages">
            <a class="Inicio" routerLink="/">Início</a>
            <a class="QuemSomos" routerLink="/QuemSomos">Quem Somos?</a>
            <a class="MuralDaGloria" routerLink="/mural-da-gloria">Mural da Glória</a>
            <a class="PerguntasFrequentes" routerLink="/PerguntasFrequentes">Perguntas Frequentes</a>
            <a class="AcoesSociais" routerLink="/AcoesSociais">Ações Sociais</a>
        </nav>

        <nav class="buttons">

            <a class="FacaParte" routerLink="/FacaParte">Faça Parte!</a>

            <a class="acount" routerLink="/dashboard">
                <img src="assets/account_icon.png" alt="account_icon">
            </a>

            <a class="Dashboard" routerLink="/Dashboard">
                <img src="assets/dashboard_icon.png" alt="dashboard_icon">
            </a>

        </nav>

    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <div class="footer">
        <div class="media">

            <a class="InicioImg" routerLink="/">
                <img src="assets/makkakuh_logo_large.png" alt="makkakuh_logo_large">
            </a>
            <div class="media-accounts">
                <p>Redes Sociais</p>
                <div>
                    <a href="">
                        <img src="assets/instagram_icon.png" alt="instagram_icon">
                    </a>

                    <a href="">
                        <img src="assets/facebook_icon.png" alt="facebook_icon">
                    </a>

                    <a href="">
                        <img src="assets/whatsapp_icon.png" alt="whatsapp_icon">
                    </a>
                </div>
            </div>
        </div>
        <p>©2025 por alunos do curso de TADS 1ª turma, em parceria com os Protetores da Cachoeira do Makka-Kuh.</p>
        <p>inspirado no site orgulhosamente criado por Gabriel e Amelia.</p>

    </div>

</div>