@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import 'styles/global.scss';

@font-face {
  font-family: 'EnchantedLand';
  src: url('assets/fonts/EnchantedLand.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;

  @include mobile {
    padding: 0 1rem;
  }
}

.main-content {
  padding: 4rem 0;
}